@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.dashboard {
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
}

.dashboard h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #2c3e50;
}

.pitches {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.pitch {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  text-align: center; /* Center the text */
  padding: 1rem;
}

.pitch:hover {
  transform: translateY(-5px);
}

.pitch img {
  width: 100%;
  height: auto;
  max-height: 200px; /* Adjust the max height as needed */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.pitch h3 {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #2c3e50;
}

.pitch p {
  margin: 0.5rem 0;
  color: #666;
  font-size: 1rem;
}

.pitch .label {
  font-weight: bold;
  color: #2c3e50;
}

.pitch .value {
  font-weight: normal;
  color: #27ae60;
  font-size: 1rem;
}

.pitch-link {
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination button {
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pagination button:hover {
  background-color: #1e8449;
}